.title{
    background-color: #00ff1e;
    background-image: linear-gradient(315deg, #02ee1e 0%, #19d461 74%);
    text-shadow: 0 -10px 3px rgb(0, 0, 0);

    text-align: center;
    padding-top: 15px;
}
.social{
    cursor: pointer;
    height: 5%;
    padding: 0.5%;
    

}

ul li{
    display: inline-block;
    padding: 5px 20px;
}
nav{
    padding-top: 3px;
    padding-bottom: 20px;
    padding-right: 25px;
}
body{
    background-color: #000000;
    background-image: linear-gradient(315deg, #386462 0%, #5e5c5cab 74%);
    color:white;
}
table{
    
    width:50%;
    border-color: #ffffff;
}
